<a href="https://colab.research.google.com/github/vjbarayuga/Week5-Introduction-To-Machine-Learning/blob/main/AbaloneLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [57]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [4]:
# open filename
filename = '/content/drive/MyDrive/Coding_DOJO-Data_Science_Bootcamp/03_Machine_Learning_Data_Science/Datasets/abalone.csv'
df = pd.read_csv(filename)
df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [46]:
X = df.drop(columns = ['Rings'], axis = 1)
y = df['Rings']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [47]:
X.head()

  Sex  Length  Diameter  ...  Shucked weight  Viscera weight  Shell weight
0   M   0.455     0.365  ...          0.2245          0.1010         0.150
1   M   0.350     0.265  ...          0.0995          0.0485         0.070
2   F   0.530     0.420  ...          0.2565          0.1415         0.210
3   M   0.440     0.365  ...          0.2155          0.1140         0.155
4   I   0.330     0.255  ...          0.0895          0.0395         0.055

[5 rows x 8 columns]

In [72]:
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')
#select the numeric columns of each type
num_columns = num_selector(X_train)
cat_columns = cat_selector(X_train)
#check our lists
print('numeric columns are', num_columns)
print('categorical columns are', cat_columns)

numeric columns are ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']
categorical columns are ['Sex']

In [87]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
ohe = OneHotEncoder()
imp = SimpleImputer()

ct = make_column_transformer((ohe, make_column_selector(dtype_include=object)))

In [86]:
print('categorical', ct)

categorical ColumnTransformer(transformers=[('onehotencoder', OneHotEncoder(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7fab0481a850>)])

In [90]:
cols = ['Sex']
df = pd.get_dummies(df, cols, drop_first= True)
df.head()

   Length  Diameter  Height  Whole weight  ...  Shell weight  Rings  Sex_I  Sex_M
0   0.455     0.365   0.095        0.5140  ...         0.150     15      0      1
1   0.350     0.265   0.090        0.2255  ...         0.070      7      0      1
2   0.530     0.420   0.135        0.6770  ...         0.210      9      0      0
3   0.440     0.365   0.125        0.5160  ...         0.155     10      0      1
4   0.330     0.255   0.080        0.2050  ...         0.055      7      1      0

[5 rows x 10 columns]

In [94]:
X = df[['Sex_I','Sex_M']]
y = df['Rings']

In [95]:
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state=42)

In [97]:
X.head()

   Sex_I  Sex_M
0      0      1
1      0      1
2      0      0
3      0      1
4      1      0

In [81]:
from sklearn.linear_model import LinearRegression

In [96]:
# Make a linear regression instance
model = LinearRegression()

In [98]:
model.fit(X_train, y_train)

LinearRegression()

In [99]:
train_score = model.score(X_train, y_train)
print(train_score)

0.17715527802641617

In [100]:
test_score = model.score(X_test, y_test)
print(test_score)

0.23925857508610338