<a href="https://colab.research.google.com/github/vjbarayuga/Week5-Introduction-To-Machine-Learning/blob/main/Pre_ProcessingExerciseWithLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.impute import SimpleImputer

In [4]:
# open filename
filename = '/content/drive/MyDrive/Coding_DOJO-Data_Science_Bootcamp/03_Machine_Learning_Data_Science/Datasets/insurance.csv'
df = pd.read_csv(filename)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
cols = ['sex', 'smoker', 'region']
df = pd.get_dummies(df, cols, drop_first= True)
df.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 9 columns]

In [6]:
X = df[['age', 'bmi', 'smoker_yes']]
y = df['charges']

In [7]:
#instantiate the selectors to for numeric and categorical data types
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')
#select the numeric columns of each type
num_columns = num_selector(X)
cat_columns = cat_selector(X)
#check our lists
print('numeric columns are', num_columns)
print('categorical columns are', cat_columns)

numeric columns are ['age', 'bmi', 'smoker_yes']
categorical columns are []

In [11]:
print(X.shape)
X.head()

(1338, 3)

   age     bmi  smoker_yes
0   19  27.900           1
1   18  33.770           0
2   28  33.000           0
3   33  22.705           0
4   32  28.880           0

In [12]:
#check missing values
print(df.isna().sum().sum(), 'missing values')

0 missing values

In [13]:
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state=42)

In [14]:
#type of object for X
type(X)

pandas.core.frame.DataFrame

In [15]:
#check the type of object
type(y)

pandas.core.series.Series

In [16]:
#view the first five entries for y
y[0:5]

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [18]:
len(X_train)

1003

In [19]:
len(X_test)

335

In [20]:
len(y_train)

1003

In [21]:
len(y_test)

335

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [23]:
model.fit(X_train, y_train)

LinearRegression()

In [24]:
train_score = model.score(X_train, y_train)
print(train_score)

0.7422732113805752

In [25]:
test_score = model.score(X_test, y_test)
print(test_score)

0.7622843807642006